<div layout="row" layout-align="end center" >
	<div layout="row" layout-align="end center" flex layout-wrap>
		<div class="phrase-text">
			{{phrase}}
		</div>
		<div flex></div>
		<div class="phonetic-text" ng-if="phonetic" layout="row" layout-align="center center">
			/{{phonetic}}/
		</div>
	</div>
	<md-button class="md-icon-button" aria-label="Play audio" ng-click="playAudio(audio)" ng-disabled="!audio">
		<md-icon class="material-icons md-light md-24">
			volume_up 
		</md-icon>
	</md-button>
</div>